@model ActivityReceiver.ViewModels.AnswerManage.AnswerManageDetailsViewModel

@{

    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

@section Styles{
    <!--begin::Page Vendors Styles -->
    <link href="~/css/replayerStyle.css" rel="stylesheet" type="text/css" />

    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                解答
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            問題管理
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            新しい問題を作成する
                        </span>
                    </a>
                </li>

            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
                <div class="m-alert__icon">
                    <i class="flaticon-exclamation m--font-brand"></i>
                </div>
                <div class="m-alert__text">
                    The Metronic Datatable component supports initialization from HTML table. It also defines the schema model of the data source. In addition to the visualization, the Datatable provides built-in support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
                </div>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                リプレイ
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">

                            <div class="replayer">
                                <div class="container">

                                    <!-- MAIN-VIEW -->
                                    <div class="row center-container">

                                        <div class="main-view center-object">

                                            <canvas class="presentor"></canvas>

                                            <div class="sentence-jp">
                                                賢い人は探すより機会を作るのだ。
                                            </div>

                                            <div class="answer">
                                                A wise man will make more opportunities than he finds.
                                            </div>

                                        </div>

                                    </div>

                                    <div class="m--space-10"></div>

                                    <!-- TOOL-BAR -->
                                    <div class="row">

                                        <div class="col-md-6 offset-md-3 m--margin-top-10 m--margin-bottom-30">

                                            <input type="text" class="progress-slider" name="my_range" value="" />

                                        </div>

                                        <div class="col-md-1 offset-md-5 center-container">
                                            <div class="pause-btn btn btn-brand m-btn--pill center-object">
                                                <span>
                                                    <i class="la la-pause"></i>
                                                    <span>PAUSE</span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-1 center-container">
                                            <div class="start-play-btn btn btn-accent m-btn--pill center-object">
                                                <span>
                                                    <i class="la la-play"></i>
                                                    <span>PLAY</span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                基本情報
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.ID)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.ID
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.AssignmentID)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.AssignmentID
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.SentenceEN)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.SentenceEN
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.SentenceJP)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.SentenceJP
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.AnswerDivision)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.AnswerDivision
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.Content)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.Content
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.IsCorrect)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.IsCorrect
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.HesitationDegree)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.HesitationDegree
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.StartDate)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.StartDate
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.EndDate)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.EndDate
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                パラメータ
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1">
                                            <h5 class="m--font-boldest">距離</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            移動距離：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            平均速度：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            最大：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed"></div>
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1">
                                            <h5 class="m--font-boldest">D&D間時間</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-15">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            平均：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-15">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            最小：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 m--margin-top-15">
                                    <div class="row">
                                        <div class="col-lg-1 offset-lg-1 m--font-bold">
                                            最大：
                                        </div>
                                        <div class="col-lg-6">
                                            60.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Line Chart with Scroll and Zoom
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_amcharts_7" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--begin::Modal-->
    <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        確認してください
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        今はメニューリストへ戻ります…<br />
                    </p>
                    <em>
                        あなた入力したデータは<span class="m--font-boldest">保存しない</span>とします
                    </em>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
                        もう一度考えさせて...
                    </button>
                    <a href="@Url.Action("Index","ItemManage")" class="btn btn-danger pull-right">
                        今度の編集をやめる
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>



@section Scripts {

    @*@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }*@

    <script src="~/js/replayer.js" type="text/javascript"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    <script src="~/Metronic/demos/default/assets/demo/custom/components/charts/amcharts/charts.js" type="text/javascript"></script>

    <script>

        $(function () {

            $('.replayer').replayer(@(Model.ID));

        });

    </script>
}
