@model ActivityReceiver.ViewModels.ExerciseManage.ExerciseManageEditGetViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

@section Styles{

    <link href="~/js/listSwap/listswap.css" rel="stylesheet" type="text/css" />
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                編集
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                            問題管理
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="@Url.Action("Index","QuestionManage")" class="m-nav__link">
                        <span class="m-nav__link-text">
                            エクササイズリスト
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                            エクササイズを編集
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
                <div class="m-alert__icon">
                    <i class="flaticon-exclamation m--font-brand"></i>
                </div>
                <div class="m-alert__text">
                    The Metronic Datatable component supports initialization from HTML table. It also defines the schema model of the data source. In addition to the visualization, the Datatable provides built-in support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
                </div>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                問題を編集する
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                @using (Html.BeginForm("Edit", "ExerciseManage", FormMethod.Post, htmlAttributes: new { @class = "m-form m-form--fit m-form--label-align-right" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    @Html.AntiForgeryToken()
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    @Html.ValidationSummary("", new { @class = "m--font-danger" })
                                </label>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    @Html.DisplayNameFor(model => model.Name)
                                </label>
                                <div class="col-lg-6">

                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "sentence-en-input", @class = "form-control m-input", @placeholder = "example: We can't change the direction of the wind, but we can adjust the sails." } })
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "m--font-danger" })
                                    </div>
                                    <span class="m-form__help">
                                        名前を入力してください
                                    </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    @Html.DisplayNameFor(model => model.Description)
                                </label>
                                <div class="col-lg-6">

                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "example: わたしたちは風向が変えられないが、船の帆が調整できる。" } })
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "m--font-danger" })
                                    </div>
                                    <span class="m-form__help">
                                        説明を入力してください
                                    </span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    @Html.DisplayNameFor(model => model.Level)
                                </label>
                                <div class="col-lg-6">

                                    <select class="custom-select form-control" name="Level">
                                        <option value="" disabled selected>難易度、レベル</option>

                                        <option value="0" @(Model.Level == 0 ? "selected" : "")>
                                            初級
                                        </option>

                                        <option value="1" @(Model.Level == 1 ? "selected" : "")>
                                            中級
                                        </option>

                                        <option value="2" @(Model.Level == 2 ? "selected" : "")>
                                            上級
                                        </option>

                                    </select>
                                    @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "m--font-danger" })
                                    </div>
                                    <span class="m-form__help">
                                        レベルを選んでください
                                    </span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    問題選択
                                </label>
                                <div class="col-lg-6">

                                    <select id="entire-question-list" data-search="検索...">
                                        @{
                                            foreach (var question in Model.EntireQuestionCollection)
                                            {
                                                if (!Model.SelectedQuestionIDCollection.Contains(question.ID))
                                                {
                                                    <option value="@question.ID">#@question.ID - @question.SentenceEN</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <select id="selected-question-list" data-search="検索...">

                                        @{
                                            foreach (var question in Model.EntireQuestionCollection)
                                            {
                                                if (Model.SelectedQuestionIDCollection.Contains(question.ID))
                                                {
                                                    <option value="@question.ID">#@question.ID - @question.SentenceEN</option>
                                                }
                                            }
                                        }

                                    </select>

                                    <!-- Add custom select to submit SelectedQuestionIDCollection -->
                                    <select multiple="" name="SelectedQuestionIDCollection" id="list-swap-result-select" hidden="">
                                        @{
                                            foreach (var question in Model.EntireQuestionCollection)
                                            {
                                                <option value="@question.ID">#@question.ID - @question.SentenceEN</option>
                                            }
                                        }
                                    </select>

                                    <div class="form-control-feedback">
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "m--font-danger" })
                                    </div>
                                    <span class="m-form__help">
                                        問題を選択してください
                                    </span>
                                </div>
                            </div>

                            <div class="m-form__seperator m-form__seperator--dashed"></div>

                            <div class="m-form__section m-form__section--last">
                                <div class="m-form__section m-form__section--last">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            作成時間
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <div class="input-group date">
                                                <input type="text" class="form-control m-input c-datatimepicker" name="CreateDate" readonly value="@DateTime.Now.ToString(("yyyy/MM/dd HH:mm"))" id="create-date-time-picker" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="la la-calendar glyphicon-th"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span class="m-form__help">
                                                作成時間を入力してください
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-2">
                                        @Html.DisplayNameFor(model => model.EditorID)
                                    </label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <select class="form-control m-select2" id="select2-editor" name="EditorID">

                                            <optgroup label="スーパー管理者">
                                                @foreach (var applicationUserPresenter in Model.ApplicationUserPresenterCollection)
                                                {
                                                    @if (applicationUserPresenter.Roles.Any(a => a.Name == "SuperAdmin"))
                                                    {
                                                        <option value="@applicationUserPresenter.ID" @(applicationUserPresenter.ID == Model.EditorID ? "selected" : "")>
                                                            @applicationUserPresenter.ID / @applicationUserPresenter.UserName
                                                        </option>
                                                    }
                                                }
                                            </optgroup>

                                            <optgroup label="管理者">
                                                @foreach (var applicationUserPresenter in Model.ApplicationUserPresenterCollection)
                                                {
                                                    @if (applicationUserPresenter.Roles.Any(a => a.Name == "Admin"))
                                                    {
                                                        <option value="@applicationUserPresenter.ID" @(applicationUserPresenter.ID == Model.EditorID ? "selected" : "")>
                                                            @applicationUserPresenter.ID / @applicationUserPresenter.UserName
                                                        </option>
                                                    }
                                                }
                                            </optgroup>

                                        </select>
                                        <span class="m-form__help">
                                            著者を選んでください
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-success">
                                        保存
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-confirm">
                                        戻る
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--begin::Modal-->
                    <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                        確認してください
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        今はメニューリストへ戻ります…<br />
                                    </p>
                                    <em>
                                        あなた入力したデータは<span class="m--font-boldest">保存しない</span>とします
                                    </em>
                                </div>
                                <div class="modal-footer clearfix">
                                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
                                        もう一度考えさせて...
                                    </button>
                                    <a href="@Url.Action("Index","ExerciseManage")" class="btn btn-danger pull-right">
                                        今度の編集をやめる
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Modal-->

                }
                <!--end::Form-->
            </div>
        </div>
    </div>

</div>


@section Scripts {

    @*@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }*@
    <script src="~/Metronic/assets/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js" type="text/javascript"></script>

    <script src="~/js/listSwap/jquery.listswap.js" type="text/javascript"></script>

    <script>

        var Select2 = {
            init: function () {

                $("#select2-editor").select2({
                    placeholder: "example: hanfuer@163.com / 晚风儿"
                });

            }
        };

        $(function () {
  
            $('#entire-question-list, #selected-question-list').listswap({
                truncate: true,
                height: 500,
                is_scroll: true,

                label_add: '追加',
                label_remove: '削除',
            });

            $('#create-date-time-picker').datetimepicker({
                todayHighlight: true,
                autoclose: true,
                pickerPosition: 'bottom-left',
                todayBtn: true,
                format: 'yyyy/mm/dd hh:ii'
            });

            Select2.init();

        });

    </script>
}