@model ActivityReceiver.ViewModels.AnswerRecordManage.AnswerRecordManageDetailsViewModel

@{

    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMetronic.cshtml";
}

@section Styles{
    <!--begin::Page Vendors Styles -->
    <link href="~/css/replayerStyle.css" rel="stylesheet" type="text/css" />

    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" />
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                解答
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            記録管理
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            アサイメントリコードリスト
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            アサイメントリコード
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            アンサーリコード
                        </span>
                    </a>
                </li>

            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">
                                            Quick Actions
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Messages
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
                                                Support
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-file-movie-o"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                リプレイ
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">

                            <div class="replayer">
                                <div class="container">

                                    <!-- MAIN-VIEW -->
                                    <div class="row center-container">

                                        <div class="main-view center-object">

                                            <canvas class="presentor"></canvas>

                                            <div class="sentence-jp">
                                                賢い人は探すより機会を作るのだ。
                                            </div>

                                            <div class="answer">
                                                A wise man will make more opportunities than he finds.
                                            </div>

                                            <div class="rect-selection-view">

                                            </div>

                                        </div>

                                    </div>

                                    <div class="m--space-10"></div>

                                    <!-- TOOL-BAR -->
                                    <div class="row">

                                        <div class="col-md-6 offset-md-3 m--margin-top-10 m--margin-bottom-30">

                                            <input type="text" class="progress-slider" name="my_range" value="" />

                                        </div>

                                        <div class="col-md-1 offset-md-5 center-container">
                                            <div class="pause-btn btn btn-sm btn-primary m-btn m-btn--icon center-object ">
                                                <span>
                                                    <i class="la la-pause"></i>
                                                    <span>PAUSE</span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-1 center-container">
                                            <div class="start-play-btn  btn btn-sm btn-accent m-btn m-btn--icon center-object">
                                                <span>
                                                    <i class="la la-play"></i>
                                                    <span>PLAY</span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-file-text"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                基本情報
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.ID)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.ID
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.AssignmentID)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.AssignmentID
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.SentenceEN)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.SentenceEN
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.SentenceJP)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.SentenceJP
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.Division)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.Division
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.StandardAnswerDivision)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.StandardAnswerDivision
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.AnswerDivision)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.AnswerDivision
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.IsCorrect)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.IsCorrect
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.ConfusionDegree)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.ConfusionDegree
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.ConfusionWordString)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.ConfusionWordString
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.StartDate)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.StartDate
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-20">
                                        <div class="col-lg-3 offset-lg-2 m--font-bold">
                                            @Html.DisplayNameFor(model => model.EndDate)
                                        </div>
                                        <div class="col-lg-7">
                                            @Model.EndDate
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-cubes"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                パラメータ
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-4 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            総移動距離
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.TotalDistance px
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 m--margin-top-15">
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            初動時間
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDFirstTime ms
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 m--margin-top-15">
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            D&D回数
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDCount
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed"></div>
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-4 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-12 offset-lg-1 m--font-bold">
                                            <h6 class="m--font-boldest">D&D速度</h6>
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            平均
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDSpeedAVG px/s
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最大
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDSpeedMAX px/s
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最小
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDSpeedMIN px/s
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-12 offset-lg-1 m--font-bold">
                                            <h6 class="m--font-boldest">D&D時間</h6>
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            平均
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDProcessAVG ms
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最大
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDProcessMAX ms
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最小
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDProcessMIN ms
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed"></div>
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-4 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-12 offset-lg-1 m--font-bold">
                                            <h6 class="m--font-boldest">D&D間時間</h6>
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            平均
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDIntervalAVG ms
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最大
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDIntervalMAX ms
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            最小
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.DDIntervalMIN ms
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed"></div>
                            <div class="row  m--padding-top-20 m--padding-bottom-20">
                                <div class="col-lg-4 m--margin-top-20">
                                    <div class="row">
                                        <div class="col-lg-12 offset-lg-1 m--font-bold">
                                            <h6 class="m--font-boldest">U-ターン</h6>
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            横方向
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.UTurnHorizontalCount
                                        </div>
                                    </div>
                                    <div class="row m--margin-top-15">
                                        <div class="col-lg-5 offset-lg-1 m--font-bold">
                                            縦方向
                                        </div>
                                        <div class="col-lg-6">
                                            @Model.UTurnVerticalCount
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-tasks"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                チャート
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="chart-device-acceleration" style="height: 500px;"></div>
                    <div id="chart-movement-force" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {

    @*@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }*@

    <script src="~/js/replayer.js" type="text/javascript"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->


    <script>

        var chartDeviceAcceleration;

        var sortByTime = function (a, b) {
            return parseInt(a.time) > parseInt(b.time);
        };

        var sortByIndex = function (a, b) {
            return parseInt(a.index) > parseInt(b.index);
        };

        $(function () {

            $('.replayer').replayer(@(Model.ID));

            chartDeviceAcceleration = AmCharts.makeChart("chart-device-acceleration", {
                "type": "serial",
                "theme": "light",
                //"autoMarginOffset": 30,
                "autoMargins": false,
                "marginLeft": 80,
                "marginRight": 50,
                "marginTop": 20,
                "marginBottom": 60,

                "legend": {
                    "equalWidths": false,
                    "useGraphSettings": true,
                    "valueAlign": "left",
                    "valueWidth": 120
                },

                //"dataProvider": chartData,
                "valueAxes": [{
                    "axisAlpha": 0.5,
                    //"dashLength": 1,
                    "position": "left",
                    "inside": false,
                    "title": "三次元空間加速度",

                }],
                "mouseWheelZoomEnabled": true,
                "graphs": [{
                    "id": "g1",
                    "balloonText": "x: [[value]] g",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 50,

                    "title": "DeviceAcceleration.X",
                    "legendValueText": "[[value]] g",

                    "valueField": "x",
                    "useLineColorForBulletBorder": true,
                    "balloon": {

                    }
                },
                    {
                        "id": "g2",
                        "balloonText": "y: [[value]] g",
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "hideBulletsCount": 50,

                        "title": "DeviceAcceleration.Y",
                        "legendValueText": "[[value]] g",

                        "valueField": "y",
                        "useLineColorForBulletBorder": true,
                        "balloon": {

                        }
                    },
                    {
                        "id": "g3",
                        "balloonText": "z: [[value]] g",
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "hideBulletsCount": 50,

                        "title": "DeviceAcceleration.Z",
                        "legendValueText": "[[value]] g",

                        "valueField": "z",
                        "useLineColorForBulletBorder": true,
                        "balloon": {

                        }
                    }
                ],
                "chartScrollbar": {
                    "autoGridCount": false,
                    //"graph": "g1",
                    "scrollbarHeight": 40
                },
                "chartCursor": {
                    //"limitToGraph": "g1"
                },
                "categoryField": "time",
                "categoryAxis": {
                    "autoGridCount": false,
                    //"axisColor": "#DADADA",
                    "dashLength": 1,
                    "minorGridEnabled": true,
                },
                "export": {
                    "enabled": true
                }
            });

            chartMovementForce = AmCharts.makeChart("chart-movement-force", {
                "type": "serial",
                "theme": "light",
                //"autoMarginOffset": 30,
                "autoMargins": false,
                "marginLeft": 80,
                "marginRight": 50,
                "marginTop": 20,
                "marginBottom": 60,

                "legend": {
                    "equalWidths": false,
                    "useGraphSettings": true,
                    "valueAlign": "left",
                    "valueWidth": 120
                },

                //"dataProvider": chartData,
                "valueAxes": [{
                    "axisAlpha": 0.5,
                    //"dashLength": 1,
                    "position": "left",
                    "inside": false,
                    "title": "圧力",
                    "minimum": 0
                }],
                "mouseWheelZoomEnabled": true,
                "graphs": [{
                    "id": "g1",
                    "balloonText": "x: [[value]]/1.0",
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "hideBulletsCount": 50,

                    "title": "Force",
                    "legendValueText": "[[value]]/1.0",

                    "valueField": "force",
                    "useLineColorForBulletBorder": true,

                    //"negativeBase": 0.1,
                    //"lineColor": "#fdd400",
                    //"negativeLineColor": "#67b7dc",
                    "balloon": {

                    }
                },
                ],
                "chartScrollbar": {
                    "autoGridCount": false,
                    //"graph": "g1",
                    "scrollbarHeight": 40
                },
                "chartCursor": {
                    //"limitToGraph": "g1"
                },
                "categoryField": "time",
                "categoryAxis": {
                    "autoGridCount": false,
                    //"axisColor": "#DADADA",
                    "dashLength": 1,
                    "minorGridEnabled": true,
                },
                "export": {
                    "enabled": true
                }
            });


            $.ajax({
                type: 'GET',
                url: "/AnswerRecordReplay/GetDeviceAccelerationCollection/" + "@Model.ID",
                dataType: 'json',
                context: document.body,
                async: true,
                success: function (data) {

                    chartDeviceAcceleration.dataProvider = data.sort(sortByTime);
                    chartDeviceAcceleration.validateNow();
                }
            });

            $.ajax({
                type: 'GET',
                url: "/AnswerRecordReplay/GetMovementCollection/" + "@Model.ID",
                dataType: 'json',
                context: document.body,
                async: true,
                success: function (data) {

                    chartMovementForce.dataProvider = data.sort(sortByTime);
                    chartMovementForce.validateNow();
                }
            });
        });

    </script>
}
